@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

    body {
            font-family: "Poppins", sans-serif;
            margin: 0;
          }
    
    ul {
            padding-left: 24px;
          }
    
    li {
            margin-bottom: 8px;
          }
    
    
      .mainpage.container {
        display: grid;
        height: 100vh;
        /*grid-template-columns:repeat(12, 1fr);*/
        grid-template-rows: 1fr 1fr 1fr auto;
        align-content: center;
      }
    
      .mainpage .part-1 {
        /*border:1px solid red;*/
        grid-row: 2;
        text-align: center;
      }
    
      .mainpage .part-2 {
        /*border: 1px solid red; */
        grid-row: 3;
       /* text-align: center;*/
      }
       .header {
        grid-row: 1;
        width: 160px;
        height: 25px;
        font-family: Inconsolata;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        /*border:1px solid red;*/
        color: #333333;
      }
      .footer {
        /*width: 287px;*/
        grid-row: 4;
        /*grid-column: 1 / span 12;*/
        justify-content: center;
        /*border:1px solid red;*/
      }
    
      .part-1 .mask {
        width: 250px;
        grid-row: 1;
      }
    
      .part2 h2 {
      font-family: Space Mono;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 71px;
      letter-spacing: -0.035em;
      color: #333333;
      }
    
     .part-2 p{
      
      font-family: Space Mono;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: -0.035em;
    
    /* Gray 2 */
    
      color: #4F4F4F;
    }
    
     
    .backhomecontainer {
        display: grid;
         width: 216px;
         height: 68px;
         text-align: center;
         align-content: center;
         background: #333333;
         /*align-content: center;*/
       }
       .backhomecontainer div {
         width: 216px;
         font-family: Space Mono;
         font-style: normal;
         font-weight: bold;
         font-size: 14px;
         line-height: 21px;
       /* identical to box height 
         justify-content: center;*/
         letter-spacing: -0.035em;
         text-transform: uppercase;
         color: #FFFFFF;
       }

    @media (min-width: 1020px) {

      .mainpage.container {
        display: grid;
        height: 100vh;
        grid-template-columns:repeat(12, 1fr);
        grid-template-rows: auto 1fr auto;
        align-content: center;
      }
    
      .header {
         grid-row: 1;
       /* width: 160px;*/
       /* height: 25px;*/
        justify-content: center;
        font-family: Inconsolata;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        /*border:1px solid red; */
        color: #333333;
      }

      .mainpage .part-1 {       
        grid-column: 1 / span 6;
        /*border:1px solid red; */
        grid-row: 2;
      }
    
      .mainpage .part-2 {
        grid-column: 7 / span 6;
        align-content: center;
        /*border: 1px solid red;*/
        grid-row: 2;
      }
      .part-1 {
      display: grid;
      align-content: center;
      }
      .part-2 {
          display: grid;
        align-content: center;
      }
      .footer {
        /*width: 287px;*/
        display: grid;
        grid-row: 3;
        grid-column: 1 / span 12;
        justify-content: center;
        /*border:1px solid red;*/
      }
    
    .mainpage .part-1 .mask {
        width: 370px;
      }
    
      
    .mainpage .part2 h2 {
      font-family: Space Mono;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 95px;
      letter-spacing: -0.035em;
      color: #333333;
    }

    
    .backhomecontainer {
        display: grid;
         width: 216px;
         height: 68px;
         text-align: center;
         align-content: center;
         background: #333333;
         /*align-content: center;*/
       }
    .backhomecontainer div {
         width: 216px;
         font-family: Space Mono;
         font-style: normal;
         font-weight: bold;
         font-size: 14px;
         line-height: 21px;
       /* identical to box height 
         justify-content: center;*/
         letter-spacing: -0.035em;
         text-transform: uppercase;
         color: #FFFFFF;
       }
    .mainpage .part-2 p{
      font-family: Space Mono;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -0.035em;
    }

}
 